body{
    width: 100%;
    height: 100vh;
    background-image: url(../image/bg.jpg);
    background-position: center;
    background-size: cover;
}
.container{
    position: relative;
    /* max-width: 350px; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ecf0f3;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 85%;
}
/* .name{
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: gray;
    color: white;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
    padding: 10px;
    opacity: 50%;
} */
/* .calc{
    border-radius: 28px;
    padding: 16px;
    display: grid;
    grid-template-columns: repeat(4,66px);
} */
/* #inputtext{
    grid-column:span 4;
    height: 68px;
    width: 260px;
    border: none;
    border-radius: 32px;
    text-align: right;
    margin: 40px 0px 30px 0px;
    padding: 20px;
    font-size: 30px;
    background-color: rgb(218, 216, 216);
} */
.button{
    box-shadow: 3px 3px 30px gray;
    background-color: #ecf0f3;
    border: none;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    margin: 10px;
    font-weight: bold;
    font-size: 20px;
    color: black;
    cursor: pointer;
}
/* .equal{
    width: 120px;
    border-radius: 42px;
    background-color: green;
    color: white;
} */
.red{
    background-color: rgb(255, 63, 63);
    color: white;
}